body {
  color: #40514E;
  margin: 0;
  text-align: center;
}

h1{
  color: #66BFBF;
  margin: 50px auto 0 auto;
  font-size: 5.625rem;
}

p{
  line-height: 2;
}

h2{
  color: #66BFBF;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
}

h3{
  color: #11999E;
  text-align: center;
}

.top-container{
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}
.middle-container{
  margin: 100px 0;
}

.bottom-container{
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

.top-lemon{
  width: 5%;
  position: absolute;
  left: 15%;
  bottom: 65%;
}
.top-bacon{
  width: 5%;
  position: absolute;
  left: 5%;
  bottom: 65%;
}

.top-lemon-right{
  width: 5%;
  position: absolute;
  left: 90%;
  bottom: 65%;
}
.top-bacon-right{
  width: 5%;
  position: absolute;
  left: 80%;
  bottom: 65%;
}


.middle-carrot{
  width: 5%;
  position: absolute;
  left: 25%;
  bottom: 48%;
}
.middle-lemon{
  width: 5%;
  position: absolute;
  left: 15%;
  bottom: 48%;
}
.middle-bacon{
  width: 5%;
  position: absolute;
  left: 5%;
  bottom: 48%;
}


.middle-carrot-right{
  width: 5%;
  position: absolute;
  left: 70%;
  bottom: 48%;
}
.middle-lemon-right{
  width: 5%;
  position: absolute;
  left: 90%;
  bottom: 48%;
}
.middle-bacon-right{
  width: 5%;
  position: absolute;
  left: 80%;
  bottom: 48%;
}



.bottom-chicken-up{
  position: absolute;
  width: 5%;
  left: 35%;
  bottom: 28%;
}
.bottom-carrot-up{
  width: 5%;
  position: absolute;
  left: 25%;
  bottom: 28%;
}
.bottom-lemon-up{
  width: 5%;
  position: absolute;
  left: 15%;
  bottom: 28%;
}
.bottom-bacon-up{
  width: 5%;
  position: absolute;
  left: 5%;
  bottom: 28%;
}


.bottom-chicken-up-right{
  position: absolute;
  width: 5%;
  left: 60%;
  bottom: 28%;
}
.bottom-carrot-up-right{
  width: 5%;
  position: absolute;
  left: 70%;
  bottom: 28%;
}
.bottom-lemon-up-right{
  width: 5%;
  position: absolute;
  left: 90%;
  bottom: 28%;
}
.bottom-bacon-up-right{
  width: 5%;
  position: absolute;
  left: 80%;
  bottom: 28%;
}








.bottom-chicken{
  position: absolute;
  width: 5%;
  left: 35%;
  bottom: 9%;
}
.bottom-carrot{
  width: 5%;
  position: absolute;
  left: 25%;
  bottom: 9%;
}
.bottom-lemon{
  width: 5%;
  position: absolute;
  left: 15%;
  bottom: 9%;
}
.bottom-bacon{
  width: 5%;
  position: absolute;
  left: 5%;
  bottom: 9%;
}



.bottom-chicken-right{
  position: absolute;
  width: 5%;
  left: 60%;
  bottom: 9%;
}
.bottom-carrot-right{
  width: 5%;
  position: absolute;
  left: 70%;
  bottom: 9%;
}
.bottom-lemon-right{
  width: 5%;
  position: absolute;
  left: 90%;
  bottom: 9%;
}
.bottom-bacon-right{
  width: 5%;
  position: absolute;
  left: 80%;
  bottom: 9%;
}


.top-cloud0{
  position: absolute;
  right: 85%;
  top: 9%;
}

.top-cloud1{
  position: absolute;
  right: 65%;
  top: 9%;
}
.top-cloud2{
  position: absolute;
  right: 45%;
  top: 9%;
}
.top-cloud3{
  position: absolute;
  right: 25%;
  top: 9%;
}

.top-cloud4{
  position: absolute;
  right: 5%;
  top: 9%;
}



.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.code-img{
  width: 25%;
  float: left;
  margin-right: 30px;
}

.chilli-img{
  width: 25%;
  float: right;
  margin-left: 30px;
}

.intro{
  width: 30%;
  margin: auto;
}

hr{
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto 100px auto;
}

.contact-message{
  width: 40%;
  margin: 40px auto 60px;
}

.btn {
  background: #11CDD4;
  background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
  background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
  background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
  background-image: -o-linear-gradient(top, #11CDD4, #11999E);
  background-image: linear-gradient(to bottom, #11CDD4, #11999E);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

a{
  color: #11999E;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover{
  color: #EAF6F6;
}

.copyright{
  color: #Eaf6f6;
  font-size: 0.75;
  padding: 20px 0;
}

.target{
  width: 15%;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

nav ul{height:6.5rem; width:50%;}
nav ul{overflow:hidden; overflow-y:scroll;}

.salad{
  width: 20%;
}
